<h1>Aquaponics Report for {{company}}</h1>
<p>Owner: {{owner.firstName}} {{owner.lastName}}</p>
<p>Phone: {{phone}}</p>
{{#if rewardsCustomer}}
<p>Thank you being a rewards customer with us!</p>
{{else}}
<p>Join our rewards program today!</p>
{{/if}}
