<a href="https://github.com/bbottema/simple-java-mail">
	<img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" alt="Fork me on GitHub"
	     data-src="assets/github-ribbon-topright@2x.png"
	     data-src-webp="assets/github-ribbon-topright@2x.png.webp">
</a>

<div class="header-slogan">
	<div class="slogan-main">Simple Java Mail</div>
	<div class="slogan-sub">Simple API, Complex Emails</div>

	{{#> splash-content}}{{/splash-content}}
</div>

<div id="navigation" class="bar-group">
	<a class="bar-link {{valueWhenEqual topic "about" "active"}}" href="/#navigation">About</a>
	<a class="bar-link {{valueWhenEqual topic "modules" "active"}}" href="modules.html#navigation">Modules</a>
	<a class="bar-link {{valueWhenEqual topic "features" "active"}}" href="features.html#navigation">Features</a>
	<a class="bar-link {{valueWhenEqual topic "configuration" "active"}}" href="configuration.html#navigation">Configuration</a>
	<a class="bar-link {{valueWhenEqual topic "security" "active"}}" href="security.html#navigation">Security</a>
	<a class="bar-link {{valueWhenEqual topic "debugging" "active"}}" href="debugging.html#navigation">Logging & Debugging</a>
	<a class="bar-link {{valueWhenEqual topic "cli" "active"}}" href="cli.html#navigation">CLI</a>
	<a class="bar-link {{valueWhenEqual topic "download" "active"}}" href="download.html#navigation">Download</a>
	<a class="bar-link {{valueWhenEqual topic "contact" "active"}}" href="contact.html#navigation">Contact</a>
	<a class="bar-link {{valueWhenEqual topic "migration notes" "active"}}" href="migration-notes.html#navigation">Migration Notes</a>
</div>