<a href="https://github.com/bbottema/simple-java-mail">
	<img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="assets/github-ribbon-topright@2x.png" alt="Fork me on GitHub">
</a>

<div class="index-demo">
	<h1>Simple Java Mail</h1>
	<h2>Simple API, Complex Emails</h2>

	{{#> splash-content}}{{/splash-content}}
</div>

<div id="navigation" class="bar-group">
	<a class="bar-link {{valueWhenEqual topic "about" "active"}}" href="index.html#navigation">About</a>
	<a class="bar-link {{valueWhenEqual topic "modules" "active"}}" href="modules.html#navigation">Modules</a>
	<a class="bar-link {{valueWhenEqual topic "features" "active"}}" href="features.html#navigation">Features</a>
	<a class="bar-link {{valueWhenEqual topic "cli" "active"}}" href="cli.html#navigation">CLI</a>
	<a class="bar-link {{valueWhenEqual topic "configuration" "active"}}" href="configuration.html#navigation">Configuration</a>
	<a class="bar-link {{valueWhenEqual topic "debugging" "active"}}" href="debugging.html#navigation">Logging & Debugging</a>
	<a class="bar-link {{valueWhenEqual topic "rfc compliant" "active"}}" href="rfc-compliant.html#navigation">RFC Compliant</a>
	<a class="bar-link {{valueWhenEqual topic "download" "active"}}" href="download.html#navigation">Download</a>
	<a class="bar-link {{valueWhenEqual topic "contact" "active"}}" href="contact.html#navigation">Contact</a>
	<a class="bar-link {{valueWhenEqual topic "migration notes" "active"}}" href="migration-notes.html#navigation">Migration Notes</a>
</div>